* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* img {
  display: block;
  max-width: 100%;
  height: auto;
}

* a,
.nav3 a:nth-child(1) {
  text-decoration: none;
  color: black;
}

.links_hover:hover {
  text-decoration: none;
  color: red;
}

.white {
  color: white;
}

.nav1 {
  background-color: #ff0500;
  z-index: 1000;
}

.z-ind {
  z-index: 100;
}

.subscribe {
  background-color: #ffe400;
  border-radius: 20px;
}

.nav3 a {
  color: grey;
}

.half-size {
  width: 25%;
  height: 25%;
}

.stick {
  position: sticky;
  top: 0;
}

.piggy-cover {
  background-color: #ff0500;
  color: white;
}

.color-red {
  color: #ff0500;
}

.grey {
  background-color: #f4f5f6;
}

.btn-color {
  background-color: #ff0500;
  color: white;
}

footer a {
  text-decoration: none;
  font-size: 15px;
}

.subs {
  width: 10%;
}

@media screen and (min-width: 768px) {
  .stories1 {
    margin: 2% auto;
    width: 50%;
  }

  .maryland img {
    height: 50%;
    margin: 1%;
  }

  .subs {
    width: 35%;
  }

  .subscribe {
    height: 30px;
    margin-top: 2%;
  }

  .login {
    margin-top: 4%;
  }

  .half-size {
    width: 15%;
    height: 15%;
  }
}
