* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

footer a {
  text-decoration: none;
  font-size: 15px;
}

.nav3 a {
  color: grey;
}

.nav3 a:nth-child(1) {
  text-decoration: none;
  color: black;
}

.links_hover:hover {
  text-decoration: none;
  color: red;
}

.white {
  color: white;
}

.nav1 {
  background-color: #ff0500;
  z-index: 1000;
}

.z-ind {
  z-index: 100;
}

.subscribe {
  background-color: #ffe400;
  border-radius: 20px;
}

.subs {
  width: 40%;
}

.half-size {
  width: 25%;
  height: 25%;
}

.opinion img {
  height: 50%;
  width: auto;
}

.stick img {
  width: 50%;
  height: auto;
}

.piggy-cover {
  background-color: #ff0500;
  color: white;
}

.color-red {
  color: #ff0500;
}

.dems img {
  width: 70%;
}

.grey {
  background-color: #f4f5f6;
}

.btn-color {
  background-color: #ff0500;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 985px) {
  .stories1 {
    margin: 2% auto;
    width: 50%;
  }

  .maryland img {
    height: 50%;
    margin: 1%;
  }

  .subs {
    width: 35%;
  }

  .subscribe {
    height: 30px;
    margin-top: 2%;
  }

  .login {
    margin-top: 4%;
  }

  .half-size {
    width: 15%;
    height: 15%;
  }

  .dems img {
    width: 100%;
    height: 100%;
  }

  .dems p {
    padding-bottom: 18%;
  }

  .stick img {
    width: 75%;
    height: 75%;
  }
}

@media screen and (max-width: 767px) {
  .book {
    flex-direction: column;
  }

  .subs {
    width: 55%;
  }

  .full-screen img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .dems img {
    width: 15%;
  }

  .social-icons {
    justify-content: flex-start;
    margin-right: 55%;
  }

  .editions {
    border-right-color: white;
  }

  footer .editions a {
    border: none;
  }

  .subscribe {
    height: 23%;
    margin-top: 4%;
    width: auto;
  }

  .login {
    margin-top: 4%;
  }

  .stick img {
    width: 20%;
    height: 75%;
  }

  .width100 {
    width: 100%;
  }

  .opinion {
    padding: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .stick img {
    width: 50%;
    height: 50%;
  }
}
