* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a,
.nav3 a:nth-child(1) {
  text-decoration: none;
  color: black;
}

.links_hover:hover {
  text-decoration: none;
  color: red;
}

.white {
  color: white;
}

.nav1 {
  background-color: #ff0500;
}

.subscribe {
  background-color: #ffe400;
  border-radius: 20px;
}

.nav3 a {
  color: grey;
}
